<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- namespace指定和哪个Mapper映射器接口对应 -->
<mapper namespace="com.uncle.mapper.JdItemDAO">
	<!-- 定义SQL语句  插入订单-->
    <insert id="insertJdItem" parameterType="com.uncle.bean.JdItem">
         insert into jd_item(order_id,product_id,product_num,product_price)
         values (#{order_id},#{product_id},#{product_num},#{product_price})
    </insert>
</mapper>